<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WOW_Fusion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.60.0.0" newVersion="1.60.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.60.0.0" newVersion="1.60.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.60.0.0" newVersion="1.60.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WOW_Fusion.Properties.Settings>
      <setting name="PrinterIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="PrinterPort" serializeAs="String">
        <value>9100</value>
      </setting>
      <setting name="WeighingPort" serializeAs="String">
        <value>4001</value>
      </setting>
      <setting name="Aditional" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="FusionUrl" serializeAs="String">
        <value>https://iapxqy-test.fa.ocs.oraclecloud.com/fscmRestApi/resources/11.13.18.05</value>
      </setting>
      <setting name="ApexUrl" serializeAs="String">
        <value>http://129.146.124.5:8080/ords/wow/wo</value>
      </setting>
      <setting name="Credentials" serializeAs="String">
        <value>ZmVsaXBlLmFudG9uaW9AaS1jb25kb3IuY29tOkNvbmRvclhSMTEy</value>
      </setting>
      <setting name="WeighingIP" serializeAs="String">
        <value>192.168.12.1</value>
      </setting>
      <setting name="WorkCenterP2" serializeAs="String">
        <value>300000003523428</value>
      </setting>
    </WOW_Fusion.Properties.Settings>
  </userSettings>
</configuration>